body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Dark background color */
    color: white;
    margin: 0;
    padding: 0;
}

.converter {
    width: 300px;
    margin: 50px auto;
    border: 2px solid #555; /* Darker border color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    background-color: #222; /* Darker background color */
}

h2 {
    font-size: 24px;
    margin: 0;
    color: #5EBCD2; /* Custom text color */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin: 5px 0;
    color: #5EBCD2; /* Custom text color */
}

input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin: 5px 0;
    border: 1px solid #555; /* Darker border color */
    border-radius: 5px;
    outline: none;
    background-color: #444; /* Darker background color */
    color: white;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5EBCD2; /* Custom button color */
    color: #222; /* Text color for button */
}

button:hover {
    background-color: #222; /* Darker color on hover */
    color: #5EBCD2; /* Text color for button on hover */
}
